@import "tailwindcss";

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
